@model Proyecto_final_barberia.Models.Turno

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR TURNO</h2>

<h2 id="confirmacion">¿ESTÁ SEGURO DE ELIMINAR EL SIGUIENTE TURNO?</h2>
<div id="contenedor">
    <h4 id="seccion">TURNO</h4>
    <hr id="linea" />
    <dl class="dl-horizontal">

        <div id="primerFila">
            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>

            <dd>|
                @Html.DisplayFor(model => model.fecha)
            </dd>

            <dt id="separar">
                @Html.DisplayNameFor(model => model.hora)
            </dt>

            <dd>|
                @Html.DisplayFor(model => model.hora)
            </dd>

            <dt id="separar">
                @Html.DisplayNameFor(model => model.valor)
            </dt>

            <dd>|
                @Html.DisplayFor(model => model.valor)
            </dd>
        </div>
        <div id="segundaFila">
            <dt>
                @Html.DisplayNameFor(model => model.nombre_cliente)
            </dt>

            <dd>|
                @Html.DisplayFor(model => model.nombre_cliente)
            </dd>

            <dt id="separar">
                @Html.DisplayNameFor(model => model.nombre_barbero)
            </dt>

            <dd>|
                @Html.DisplayFor(model => model.nombre_barbero)
            </dd>
        </div>

        <dt id="pruebaReemplazo">
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd id="pruebaReemplazoOption">
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="ELIMINAR TURNO" class="btn btn-default" />

</div>
        <div id="regreso">
        @Html.ActionLink("Regresar a los turnos", "Index")
    </div>
    }
</div>

<style>
    :root {
        --separador: 8%;
    }

    #separar {
        margin-left: var(--separador);
    }

    .body-content {
        margin-top: 2%;
        width: 100%;
    }
    .btn-default {
        border-radius:4px;
        margin-top: 3%;
        margin-left: 30%;
        font-family: Oswald;
        font-weight: bold;
        font-size: 2.3em;
        width: 40%;
        height: 80%;
        color: black;
        background-color: #fcb330;
    }

        .btn-default:hover {
            background-color: #ffd171;
        }
    dt, dd {
        font-family: Oswald;
        text-transform: uppercase;
    }

    .dl-horizontal dt {
        width: 220px;
    }

    .dl-horizontal dd {
        margin-left: 1px;
    }

    .form-horizontal {
        width: 100%;
    }

    dt#pruebaReemplazo {
        margin-top: 3%;
        margin-left: 40%;
        visibility: hidden;
        font-size: 2em;
        width: 190px;
        height: 40px;

    }

        dt#pruebaReemplazo:before {
            content: "TURNO_ACTIVO";
            visibility: visible;
        }

    dd#pruebaReemplazoOption {
        margin-top: 3.5%;
    }

    select.tri-state {
        height: 26.6px;
        font-size: 1.3em;
        color: black;
        text-transform: uppercase;
    }

    #primerFila {
        margin-top: 1%;
        margin-left: 1%;
        font-size: 2.5em;
        display: inline-flex;
        width: 100%;
    }

    input, select, textarea {
        max-width: 110%;
        max-height: 110%;
    }

    #segundaFila {
        margin-top: 3%;
        font-size: 2em;
        margin-left: 10%;
        display: inline-flex;
        width: 100%;
    }
    select {
        border-radius: 2px;
        width: 10%;
        height: 80%;
    }

    .checkbox {
        color: black;
    }

    .contenedorActivo {
        margin-bottom: 1.6%;
    }

    .form-group {
        display: grid;
        width: 50%;
    }

    .form-control {
        border-radius: 2px;
        height: 38px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    h2 {
        font-family: Oswald;
        text-align: center;
        font-size: 3em;
        color: #f2b541;
    }
    #confirmacion{
        margin-top:-.2%;
    }
    #seccion {
        font-family: Oswald;
        font-size: 2em;
        color: white;
        text-transform: uppercase;
    }

    #linea {
        width: 100%;
    }
    h4{
        margin-top:-10px;
    }
    hr{
        margin-top:10px;
    }
    #regreso {
        margin-top: 2%;
        font-family: Oswald;
    }

        #regreso > a {
            color: #ffd171;
            font-size: 1.5em;
        }

    body {
        background-image: url(../../Imagenes/FondoTurnos.png);
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    div {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
</style>
